@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #272727;
  color: white;
}

h1 {
  @apply font-sora font-bold text-[4rem] leading-[4.5rem];
}

h2 {
  @apply font-sora font-bold text-[3.5rem] leading-[3rem];
}

h3 {
  @apply font-sora font-bold text-[3rem] leading-[4.5rem];
}

h4 {
  @apply font-sora font-bold text-[1.75rem] leading-[2rem];
}

h5 {
  @apply font-sora font-bold text-[1.5rem] leading-[1.75rem];
}

h6 {
  @apply font-sora font-semibold text-[1.1rem] leading-[1.25rem];
}

p {
  @apply font-inter text-[1.125rem] leading-[2rem];
}

.text-small {
  @apply font-inter text-[1rem] leading-[1.625rem];
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
